global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon
        tune.bufsize 1000000
        lua-prepend-path /etc/haproxy/?.lua
        lua-load /etc/haproxy/mirror.lua

        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  310000
        timeout server  310000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

# ===== Canale FLEET SERVER (management, TLS) =====
frontend fleet_proxy_in
    bind *:8220 ssl crt /etc/haproxy/certs/haproxy.pem
    option httplog
    capture request header Authorization len 200
    option http-buffer-request
    http-request wait-for-body time 1s
    http-request lua.mirror_to_b
    default_backend fleet_server_real

backend fleet_server_real
    mode http
    server fleet1 192.168.56.1:8220 ssl verify none

# ===== Canale DATI / METRICHE (Elasticsearch) =====
frontend es_data_in
    bind *:9210
    mode http
    option httplog
    option http-buffer-request
    http-request wait-for-body time 1s
    http-request lua.mirror_to_b
    default_backend elasticsearch_a_real

backend elasticsearch_a_real
    mode http
    server es1 192.168.56.1:9200
